* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
}
header {
    display: flex;
    width: 100%;

}
header {
    width: 100%;
    justify-content: space-between;
}
header h1 {
    font-weight: bold;
    color:#D6000D;
    margin: 25px;
}

header h1 .ponto {
    color: black;
}
header .navbar {
    margin: 25px;
}
header .navbar .navbar-list {
    display: inline;
    margin: 25px;
    font-weight: bold;
    color: rgba(0,0, 0, 0.75);
    cursor: pointer;
}

header .navbar .navbar-list:last-child {
    background:#D6000D;
    padding: 10px 45px;
    border-radius: 13px;
    color: white;
}
header .navbar .navbar-list:last-child:hover {
    background: #f10817d0;
}
