* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
}
header {
    display: flex;
    width: 100%;

}
header {
    width: 100%;
    justify-content: space-between;
}
header h1 {
    font-size: 55px;
    font-weight: bold;
    color:#D6000D;
    margin: 20px;
}

header h1 .ponto {
    font-size: 45px;
    color: black;
}
header .navbar {
    margin: 25px 25px 100px 25px;
}
header .navbar .navbar-list {
    font-size: 25px;
    display: inline;
    margin: 35px 25px;
    font-weight: bold;
    color: rgba(0,0, 0, 0.75);
    cursor: pointer;
}

header .navbar .navbar-list:last-child {
    background:#D6000D;
    padding: 10px 45px;
    border-radius: 13px;
    color: white;
    cursor: pointer;
}
header .navbar .navbar-list:last-child:hover {
    background: #f10817d0;
}




.text {

    justify-content: center;
    margin:50px 0 200px 58px;
    align-items: center;
    display: flex;
    
}

.text img {
    margin-right: 100px;
}

.text p {
    font-weight: bold;
    font-size: 25px;
}

.text .web {
    font-size: 65px;
    font-weight: bold;
    color: #D6000D;
    padding-bottom: 25px;
}

.btn {
    height: 100%;
    border-radius: 15px;
    padding: 15px 28px;
    width: 100%;
    margin-top: 25px;
    font-size: 25px;
    color: white;
    background: #D6000D;
    cursor: pointer;
}

.btn:hover {
    background: #f10817d0;
}


.servicos {
    /* align-items: center; */
    width: 100%;
    display:flex;
    margin:0 0 0 80px;
    
}

.servicos span {
    margin: 0 0 0 100px;
}

.servicos img {
    align-items: right;
    margin: 0 0 0 52px;
    
}

.servico {
    margin: 85px 90px;
}

.servico li {
    list-style-image: url(./img/confirmado-vermelho.png) ;
    font-size: 25px;
    font-family: 'roboto',Arial, Helvetica, sans-serif;
    
}

.servicos input {
    margin: 0 0 0 80px;
    padding: 10px 25px;
    background-color: rgb(240, 234, 234);
    border-radius: 10px;
    border: 1px  rgb(240, 234, 234);
}

.servicos button {
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #D6000D;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: #D6000D;
}
